<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.60.0.0" targetFramework="native" />
  <package id="boost_random-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_regex-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_serialization-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_signals-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_timer-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_wave-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost_wserialization-vc140" version="1.60.0.0" targetFramework="native" />
  <package id="boost-vc140" version="1.60.0.0" targetFramework="native" />
</packages>